body{
    font-family: Arial;
}

div.header{
    width: 100%;    
    background:#e26939 ;
    padding:10px 0px ;
    text-align: right;
}
div.header a{
    font-size:20px ;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid transparent;
    border-bottom: 2px solid  #fff;
}
div.header a:hover{
    border-radius: 5px;
    border: 2px solid #fff;
}
div.banner{
    background: url('s5.jpeg') no-repeat center center fixed ;
    background-size: cove r;
    padding-top: 100px;
    padding-bottom: 80px;
}
div.homepageContainer{
    width:100% ;
    max-width:900px;
    height: 70vh;
    margin: 0 auto;
}
div.bannerHeader h1{
    font-size: 100px;
    color: #e26939;
} 

div.bannerHeader p{
    font-size: 30px;
    color: #e94a0b;
    text-transform: uppercase;
    margin-top: 0px;
} 
p.bannerTagline{
    font-size: 25px;
    margin-top: 20px;
    color: #eee7e7;
}
div.bannerIcons{
    margin-top: 50px;
}
div.bannerIcons a{
    font-size: 23px;
    margin-left:40px ;
    padding: 25px;
    background: rgba(245, 238, 238, 0.76);
    color: #db6e09;
    border-radius: 50%;
}
div.bannerIcons a:first-child{
    margin-left: 0px;
}
div.bannerIcons a:hover{
    color:#fff ;
    font-size: 25px;
    background: #3e80e2;
    transition: .5s all;
}
div.homepageNotified{
    display:flex;
    flex-direction: row;
    padding: 50px 0px;
}
div.homepageNotified h3{
    margin-bottom: 20px;
    font-size: 30px;
}
div.homepageNotified p{
    color: #c421c4;
    font-size: 20px;
}
div.formContainer{
    width: 80%;
    position: relative;
}
div.formContainer input{
     width: 100%;
     padding: 15px 10px;
}
div.formContainer button{
    font-size: 22px;
    padding: 0px 10px;
    background: #f7953a;
    border: none;
    color: #fff;
}