.container{
    background: url('s1.jpg') no-repeat center center fixed ;
    background-size: cover;
}
div.loginHeader{
    margin-bottom: 50px;
}
div.loginHeader{
    text-align: center;
}
div.loginHeader h1{
    font-size: 100px;
    color:#e26939;
    padding:0px;
    margin:0px;
}
div.loginHeader p{
    color: #072786;
    font-size: 60px;
    margin:0px;
    display: inline-block;
    text-transform: uppercase;
}
div.loginHeader p::after{
    content:"";
    display:block;
    height:5px ;
    background: #e26939;
    width:100% ;
    margin:0 auto ;
}

div.loginBody form{
    margin: 0 auto;
    width:200px ;
    background: rgb(238, 161, 97);
    padding: 50px;
    border:2px solid #000 ;
    border-radius: 8px;
}

div.loginInputsContainer {
    margin-top: 20px;
}

div.loginInputsContainer label{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
div.loginInputsContainer input{
    height: 25px;
    width: 100%;
    border: 2px solid #000;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

div.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

div.loginButtonContainer button{
    font-size:20px ;
    padding: 10px 40px;
    background: #072786;
    border: none;
    color: #f0e8e4;
}   